workflows/N8N_CUSTOMER_EMAIL_WORKFLOW.json
{
  "name": "EventGaraget - Send Customer Email",
  "nodes": [
    {
      "parameters": {
        "path": "send-customer-email",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": "customers",
        "columns": "email,name",
        "filters": "id=$1",
        "filterValues": "$json.customer_id"
      },
      "name": "Get Customer Email",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "supabaseApi": "supabase"
      }
    },
    {
      "parameters": {
        "code": "const customer = $input.first().json[0];\nconst subject = $json.subject;\nconst message = $json.message;\n\nreturn [{\n  json: {\n    to: customer.email,\n    subject: subject,\n    html: `\n      <!DOCTYPE html>\n      <html>\n        <head>\n          <meta charset=\"UTF-8\">\n          <style>\n            body { font-family: Arial, sans-serif; color: #333; line-height: 1.6; }\n            .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n            .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 8px 8px 0 0; text-align: center; }\n            .header h1 { margin: 0; font-size: 24px; }\n            .content { background: #f9f9f9; padding: 30px; border-radius: 0 0 8px 8px; border: 1px solid #eee; }\n            .message { background: white; padding: 20px; border-left: 4px solid #667eea; margin: 20px 0; border-radius: 4px; }\n            .footer {\n              text-align: center;\n              color: #999;\n              font-size: 12px;\n              margin-top: 30px;\n              border-top: 1px solid #ddd;\n              padding-top: 15px;\n            }\n          </style>\n        </head>\n        <body>\n          <div class=\"container\">\n            <div class=\"header\">\n              <h1>📧 Meddelande från EventGaraget</h1>\n            </div>\n            \n            <div class=\"content\">\n              <p>Hej ${customer.name || 'värd'},</p>\n              \n              <div class=\"message\">\n                ${message.replace(/\\n/g, '<br>')}\n              </div>\n              \n              <p>Med vänlig hälsning,<br/><strong>EventGaraget Team</strong></p>\n              \n              <div class=\"footer\">\n                <p>© EventGaraget 2024 - Vi gör events enkla!</p>\n                <p>Denna email skickades till: ${customer.email}</p>\n              </div>\n            </div>\n          </div>\n        </body>\n      </html>\n    `,\n    customer_name: customer.name,\n    customer_id: $json.customer_id,\n    subject: subject,\n    message: message\n  }\n}];"
      },
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$json.to}}",
        "subject": "={{$json.subject}}",
        "message": "={{$json.html}}"
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "gmailOAuth2": "gmail_account"
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "outgoing_emails",
        "data": "{\n  \"customer_id\": \"$json.customer_id\",\n  \"subject\": \"$json.subject\",\n  \"body_html\": \"$json.body_html\",\n  \"status\": \"sent\",\n  \"created_at\": \"NOW()\"\n}"
      },
      "name": "Log Email",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "supabaseApi": "supabase"
      }
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseData": "{\n  \"success\": true,\n  \"message\": \"Email sent successfully to {{$json.customer_name}}\",\n  \"timestamp\": \"{{new Date().toISOString()}}\"\n}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Customer Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Email": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
